[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
pyserial = "*"
flask = "*"
flask-cors = "*"
opencv-python = "*"

[requires]
python_version = "3.8"
